@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: 
    url("fonts/gilroylight.woff2") format("woff2"),
    url("fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: 
    url("fonts/gilroyextrabold.woff2") format("woff2"),
    url("fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    url("fonts/opensans.woff2") format("woff2"),
    url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: 
    url("fonts/opensanslight.woff2") format("woff2"),
    url("fonts/opensanslight.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  border: none;
  background-color: inherit;
}

.user-btn:hover {
  opacity: 0.6;
}

.user-btn:active {
  opacity: 0.3;
}

.nav-btn:hover {
  opacity: 0.6;
}

.nav-btn:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*---------------------------НАЧАЛО HEADER-----------------------*/
.main-navigation {
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding-top: 53px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7e296;
}

.container-navigation {
  width: 1045px;
  margin-right: auto;
  margin-left: auto;
}


.container-top {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.container-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}

.main-logo {
  width: 163px;
  height: 35px;
}

.user-navigation {
  margin: 0;
  padding: 0;
}

.shop-navigation {
  margin: 0;
  padding: 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.catalog-navigation {
  margin: 0;
  padding: 0;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.search-line input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

input[type="search"]::-webkit-input-placeholder {
  color: #000000;
}

.search-line input:hover {
  opacity: 0.6;
}

.search-line input:focus {
  opacity: 1;
}

.btn-search {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: transparent;
  border: 2px solid #000000;
  width: 85px;
  height: 49px;
}

.btn-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.site-navigation a,
.menu-open {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.user-navigation,
.shop-navigation,
.catalog-items {
 font-family: "Open sans", "Arial", sans-serif;
 font-size: 15px;
 font-weight: 300;
 line-height: 30px; 
}

.log-out-btn {
  opacity: 0.3;
}

.site-navigation,
.shop-navigation,
.user-navigation,
.catalog-items {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.shop-navigation a,
.catalog-items a {
  color: #000000;
}

.catalog-btn:hover {
  opacity: 0.6;
}

.catalog-btn:active {
  opacity: 0.3;
}

/*---------------------------КОНЕЦ HEADER-------------------------*/

/*--------------------------НАЧАЛО MAIN-------------------------*/

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.index-column {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.about-us {
  width: 473px;
  padding: 0;
  margin: 0;
}

.contacts {
  width: 560px;
  padding: 0;
  margin: 0;
}

.catalog-page {
  display: flex;
}

.filter-header {
  width: 325px;
  margin-left: auto;
  padding-left: 60px;
}

.filter-header-wrapper {
  background-color: #dbdbdb;
}

.filter-section {
  width: 325px;
  margin-left: auto;
  padding-left: 45px;
}

.filter-section-wrapper {
  background-color: #eeeeee;
}

.left-column {
  flex-grow: 1;
  background-color: #eeeeee;
}

.right-column {
  flex-grow: 1;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 835px;
  padding-left: 72px;
}

.sorting-wrapper {
  background-color: #eeeeee;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 765px;
  margin: 0;
  margin-left: 72px;
  margin-top: 69px;
  padding: 0;
  list-style: none;
}

.pagination {
  width: 765px;
  background-color: #eeeeee;
  margin-top: 75px;
  margin-left: 72px;
}

.page-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 77px;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.promo-slides li {
  list-style: none;
}

.promo-slides h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.promo-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.promo-feature {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
}

.promo-feature-value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
}

.catalog-sections {
  list-style: none;
}

.catalog-sections a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.services {
  list-style: none;
  background-color: #e5e5e5;
}

.services h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.services p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.partners-logo {
  list-style: none;
}

.partner-logo {
  opacity: 0.2;
  filter: grayscale(100%);
}

.partner-logo:hover {
  opacity: 1;
  filter: grayscale(0);
}

.catalog-title {
  padding: 0;
  padding-top: 44px;
  padding-left: 60px;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.bread-crumbs {
  padding: 0;
  padding-top: 25px;
  padding-left: 60px;
  padding-bottom: 50px;
  margin: 0;
  list-style: none;
}

.bread-crumbs a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.bread-btn:hover {
  opacity: 0.6;
}

.bread-btn:active {
  opacity: 0.1;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  opacity: 0.6;
}

input[type="checkbox"]:active,
input[type="radio"]:active {
  opacity: 1;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  color: #a6a6a6;
}

.cost-filter {
  border: none;
}

.color-filter {
  border: none;
}

.filter-list {
  list-style: none;
}

.filter-section legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filter-section li {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}

.bluetooth-available {
  border: none;
}

.bluetooth-list {
  list-style: none;
}

.filter-name {
  padding: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-filter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-active {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-filter:hover {
  opacity: 0.6;
}

.sorting-filter:active {
  opacity: 1;
}

.page-list {
  list-style: none;
}

.page-active {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.page-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  opacity: 0.3;
}

.page-number:hover {
  opacity: 0.6;
}

.page-number:active {
  opacity: 1;
}

.page-nav {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.page-nav:hover {
  background-color: #d9d9d9;
}

.page-nav:active {
  background-color: #d9d9d9;
}

.page-nav-opacity:active {
  opacity: 0.08;
}


.item-name {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #464646;
}

.about-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 61px;
}

.about-us p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.about-us li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 61px;
}

.contacts p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

/*--------------------------КОНЕЦ MAIN-------------------------*/

/*--------------------------НАЧАЛО FOOTER-------------------------*/

.footer {
  background-color: #464646;
}

.container-top-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.container-middle-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.container-bottom-footer {
  display: flex;
  padding-top: 68px;
}

.social-networks {
  margin-left: auto;
  margin-right: auto;
}
.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer address {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  color: #ffffff;
}

.tel {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
}

.site-navigation-footer {
  list-style: none;
}

.social-networks {
  list-style: none;
}

.user-navigation-footer {
  list-style: none;
}

.site-navigation-footer a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.user-navigation-footer a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: #ffffff;
}







.popup-hidden {
  display: none;
}